
.App {
  text-align: center;
}
body{
    /* margin: 15px; */
    padding: 0;
}
.header{
  background-color: #191919;
  height: 10.5em;
}
.LoginForm{
  display:flex;
  flex-direction: column;
  text-align: center;

}
input {
  text-align: center;
  width: 22vw;;
  height:4vh;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}
label{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color:  #926F34;
}
.SignForm{
  display:flex;
  flex-direction: column;
  text-align: center;
}
.LogOut{
  background-color: yellow;
}
#logoutButton{
  background-color:#926F34;
  color: black;
  text-align: center;
  font-family: fantasy;
  display: inline-block;
  font-size: 16px;
  float: right;
  margin: 10px;
  border: solid black;
}
#submitButton{
  background-color:white ;
  color: black;
  text-align: center;
  font-family: cursive;
  display: inline-block;
  font-size: 16px;
  width: 80px;
  float: right;
  border: solid black;
}
.overviewContainer{
  
    display: flex;
    justify-content: center;
    /* margin: 40px 50px; */
}
.border{
  /* border-top: 1px solid darkgray; */
  max-width: 1300px;
  margin: 30px auto;
  border: solid black;
 }
#overview {
  position: relative;
  top: -120px;
}
.makeRes{
  color: black;
  text-align: left;
}
.addHotelList{
  color:black;
  text-align: left;
  font-size: 2em;
  font-family: Bold cursive;
  margin: 20px 0px 0px 90px;
}
.addHotel{
  color:black;
  text-align: left;
  font-size: 2em;
  font-family: Bold cursive;
}
#overview-mobile {
  position: relative;
  top: -45px;
}
.addHotelButton{
  width: 170px;
  height: 30px;
  font-size: .4em;
  color: black;
  border: solid black;
  background-color: #926F34;
  margin: 20px 0px 0px 90px;
}
.p4 {
  font-family: "Avenir-Book";
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
.hotelForm{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: .3em;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #191919;
  width: 360px;
  height: 380px;
}
.HotelImg{
  width: 200px;
  height: 250px;
 justify-content: center;
}
h1{
  color: #926F34;
  text-align: center;
  margin-top: 40px;
  font-family: cursive;
}
.resMetods{
  display: flex;
  justify-content: left;
  justify-content: space-evenly;
  /* background-color: red; */
  border-block-color: black;
  margin-left: auto;
  margin-right: auto;
  padding : 20px;
}
.reservationForm{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: .3em;
  flex-direction: column;
  /* box-sizing: border-box; */
  background-color: #191919;
  border-block-color: black;
  width: 400px;
  height: 380px;
}
.OverviewContainer{
  display: flex;
  justify-content: center;

}
#hotel-display{
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 50vw;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  align-items: center;
  color: black;
}
.hotelContainer{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 350px;
  height: 500px;
  /* padding: 20px; */
  color: #926F34;
  justify-content: center;
 /* background-color:rgba(63, 10, 3, 0.966); */
 border: solid black;
 background-color: #281500;
}
p{
  color: #926F34;
}
.hotellName{
  color: #926F34;
  font-size: 1em;;
}

.leftSide {
  margin: 0;
}
nav{
  text-decoration: none;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: cursive;
    font-size: 28px;
    color: black;
    /* transition: 1s; */
}
a{
text-decoration: none;
padding: 60px;
color: #926F34;
}
.submit{
  background-color: rgba(63, 10, 3, 0.966);
  width: 5vw;
  height: 4vh;
  text-align: center;
  margin-top:.5em;
  /* margin-bottom: 18em; */
  font-size: .6em;;
  font-family: "Avenir-Heavy";
  color: white;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}
h3{
  text-align: right;
  font-family: cursive;
  font-size: 2em;
}
.rightSide{
  text-align: justify;
  font-size: 14px;
  line-height: 36px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  /* min-width: 375px; */
  margin-top: 180px;;
}
.p3 {
  font-family: "Avenir-Book";
  font-size: 20px;
  line-height: 40px;
  padding:10px;
  
}


.carousel img {
  object-fit: cover;
  height: 600px;
}

footer {
  /* height: 18vh; */
  background-color:  #191919;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: #926F34;
  margin-bottom: 0px;
  text-align: left;
  padding: 35px;
  font-family: cursive;
  /* letter-spacing: 5s; */
}
.contactContainer{
  display: flex;
  justify-content: space-between;
  /* margin: 40px 20px; */
}
.copyright {
  margin-top: 26px;
}

.logo {
  width: 200px;
  float: left;
}
.logo2 {
  width: 120px;
}
p1{
  font-size: 18px;
}
.logo-container {
  width: 285px;
}

.header-logo {
  max-width: 100%;
  max-height: 100%;
}
.footer_img{
  float: left;
  font-size: 18px;
}
.icon {
  background-color: white;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 15px;
}
.Navgation{
  display: flex;;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
.imgClass{
  width: 436px;
  height: 700px;
}

a:hover {
  /* background-color: white; */
  /* color: black; */
  letter-spacing: 3px;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@media screen and (max-width: 400px) {
  .App { 
    overflow-x: hidden;
  }
  body{
  margin:0px;
  padding:0px;
  }
  .carousel img {
    height: 40vh;
    object-fit: cover;
  }
  nav {
    justify-content: left;
    width: 100%;
    padding: 0;
  }
  .header-nav {
    height: 45px;
  }
  .logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overviewContainer{
    flex-direction: column;
    width: 375px;
  }
  .imgClass{
    justify-items: center;
   }
   nav{
     font-size: 25px;
     justify-content: space-evenly;
   }
   a{
    padding: 0px;
   }
   /* body{
     margin-right: auto;
     margin-left: auto;
   } */
   footer {
    flex-flow: column;
    justify-content: left;
  }
  .rightSide{
    margin: 0 14px;
    font-size: 10px;
  line-height: 20px;
  /* text-indent: 30px; */
  /* margin-left: 40px; */
  /* margin-right: 20px; */
  /* text-align: center; */
  text-align: justify;
  /* min-width: 375px; */
     }
  .logo2{
    width: 30px;
  }
  .hotelContainer{
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  @media screen and (max-width: 610px) {
    .leftSide img {
      width: 100vw;
    }
    .overviewContainer{
      flex-direction: column;
      width: 375px;
    }
    .rightSide {
      margin: 0 12px;
      text-align: justify;
    }
  }
   }
   @media screen and (max-width: 1140px) {
    .overviewContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
   }
   @media screen and (max-width: 815px) {
     .hotelContainer{
      height: 400px;
     }
     .carousel img {
      object-fit: cover;
      height: 400px;
    }
    /* .overviewContainer{
      flex-direction: column;
      width: 475px;
    }
    .leftSide img {
  height: 250px;
    } */
   }