
/* .App {
  text-align: center;
} */
body{
  /* background-color: gray; */
    margin: 0;
    padding: 0;
}
.header{
  /* background-color: rgba(63, 10, 3, 0.966); */
  background-color: #191919;
  height: 10.5em;
}
.LoginForm{
  display:flex;
  flex-direction: column;
  text-align: center;

}
input {
  text-align: center;
  width: 22vw;;
  height:4vh;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}
label{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color:  #926F34;
}
.SignForm{
  display:flex;
  flex-direction: column;
  text-align: center;
}
#logoutButton{
  background-color:white ;
  color: black;
  text-align: center;
  font-family: fantasy;
  display: inline-block;
  font-size: 16px;
  float:right;
  border: solid black;
}
#submitButton{
  background-color:white ;
  color: black;
  text-align: center;
  font-family: fantasy;
  display: inline-block;
  font-size: 16px;
  width: 80px;
 float: right;
  border: solid black;
}
.overviewContainer{
  
    display: flex;
    justify-content: center;
    /* margin: 40px 50px; */
}
.border{
  /* border-top: 1px solid darkgray; */
  max-width: 1300px;
  margin: 30px auto;
 }
#overview {
  position: relative;
  top: -120px;
}
.makeRes{
  color: black;
}
.addHotel{
  color:black;
}
#overview-mobile {
  position: relative;
  top: -45px;
}
.p4 {
  font-family: "Avenir-Book";
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
.hotelForm{
  display: flex;
  /* margin-left: auto;
  margin-right: auto; */
  border-radius: .3em;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #191919;
  width: 360px;
  height: 400px;
}
.HotelImg{
  width: 200px;
  height: 250px;
 justify-content: center;
}
.reservationForm{
  display: flex;
  border-radius: .3em;
  /* margin-left: auto;
  margin-right: auto; */
  flex-direction: column;
  /* box-sizing: border-box; */
  background-color: #191919;
  border-block-color: black;
  width: 360px;
  height: 500px;
}

.OverviewContainer{
  display: flex;
  justify-content: center;

}
#hotel-display{
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 50vw;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  align-items: center;
}
.hotelContainer{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  height: 500px;
  padding: 20px;
  justify-content: center;
  background-color:rgba(63, 10, 3, 0.966);

}

.leftSide {
  margin: 0;
}
nav{
  text-decoration: none;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: cursive;
    font-size: 28px;
    color: black;
    /* transition: 1s; */
}
a{
text-decoration: none;
padding: 60px;
color: #926F34;
}
.submit{
  background-color: rgba(63, 10, 3, 0.966);
  width: 5vw;
  height: 4vh;
  text-align: center;
  margin-top:.5em;
  /* margin-bottom: 18em; */
  font-size: .6em;;
  font-family: "Avenir-Heavy";
  color: white;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}
h3{
  text-align: right;
  font-family: cursive;
  font-size: 2e;
}
.rightSide{
  font-size: 16px;
  line-height: 36px;
  margin-left: 40px;
  text-align: center;
  min-width: 375px;
  margin-top: 180px;;
}
.p3 {
  font-family: "Avenir-Book";
  font-size: 26px;
  line-height: 40px;
  
}


.carousel img {
  /* margin: 60px;
  height: 80vh; */
  object-fit: cover;
}

footer {
  height: 18vh;
  background-color:  #191919;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: #926F34;
  margin-bottom: 0px;
  text-align: left;
  padding: 35px;
  font-family: cursive;
  letter-spacing: 5s;
}
.contactContainer{
  display: flex;
  justify-content: space-between;
  /* margin: 40px 20px; */
}
.copyright {
  margin-top: 26px;
}

.logo {
  width: 200px;
  float: left;
}
.logo2 {
  width: 120px;
}
p1{
  font-size: 18px;
}
.logo-container {
  width: 285px;
}

.header-logo {
  max-width: 100%;
  max-height: 100%;
}
.footer_img{
  float: left;
  font-size: 18px;
}
.icon {
  background-color: white;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 15px;
}
.Navgation{
  display: flex;;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
.imgClass{
  width: 536px;
  height: 700px;
}

a:hover {
  /* background-color: white; */
  /* color: black; */
  letter-spacing: 8px;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@media screen and (max-width: 400px) {
  .contactContainer{
    flex-direction: column;
    width: 375px;;
  }
  .overviewContainer{
    flex-direction: column;
    width: 375px;
  }
  .imgClass{
    justify-items: center;
   }
   nav{
     font-size: 10px;
   }
   a{
    padding: 0px;
   }
   body{
     margin-right: auto;
     margin-left: auto;
   }
}
@media (max-width: 500px) {
  @media screen and (max-width: 610px) {
    .leftSide img {
      width: 100vw;
    }
    .rightSide {
      margin: 0 12px
    }
  }
   }